{% extends 'base.html.twig' %}

{% block title %}Bienvenue su CvInLine{% endblock %}

{% block body %}


<div class="page-header">
    <h1>Bienvenue Sur CvInLine</h1>
    <p>{{msg}}</p>
</div>
<div class="container">
	<div class="row">
	    <div class="col-sm-6">
	        <div class="jumbotron">
		    	<p>
		            <a class="btn btn-primary btn-lg position="center"" href="{{ path('app_login') }}">
		                <i class="fa fa-users" aria-hidden="true"></i> Connexion
		            </a>
		        </p>
	    	</div>
		</div>
		<div class="col-sm-6">
	        <div class="jumbotron">
		    	<p>
		            <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}">
		                <i class="fa fa-users" aria-hidden="true"></i> Inscription
		            </a>
		        </p>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
